 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a web developer extraordinaire with years of experience.</p>
                </div>
                <div class="col-lg-4">
                    <p>Contact me via social media, contact form or email at <i>firstname(dot)lastname(at)jorer.net</i>.</p>
                    <p>Also available as Jorer@IRCnet.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope-o"></i> Contact Me
                    </a>
                </div>
            </div>
        </div>
    </section>